.container {
  background-color: brown;
  width: 100%;
  height: 80px;
}
.nav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding-top: 20px;
  font-size: larger;
}
.nav.route {
  text-decoration: none;
  gap: 10px;
}
